.splashContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.topSection {
    margin-top: 9rem;
    background-color: blue;
}

.middleSection {
    margin-top: 9rem;
    width: 80%;
    background-color: yellow;
}

.bottomSection{
    margin-top: 9rem;
    background-color: purple;
}