.splashContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.sectionHeader {
    color:  #F25F5C;
    font-family: 'Roboto Slab', serif;
    font-size: 2rem;
}

.paragraphText {
    font-size: 1rem;
}

.topSection {
    margin-top: 8rem;
    width: 100%;
    max-width: 40rem;
}

.appName{
    font-family: "Roboto Slab", serif;
    font-size: 3rem;
}

.dek{
    color: #0072BB;
}

.tech{
    color: #70C1B3;
}

.middleSection {
    margin-top: 8rem;
    width: 100%;
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.middleSectionText {
    margin: 1rem;
    width: 100%;
    max-width: 40rem;
}

.middleSectionImage{
    margin: 1rem;
}

.appDescription{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    max-width: 40rem;
}

.appSteps{
    width: 100%;
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 8rem;
}

.appInstructionsStepOne{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    max-width: 40rem;
}

.appInstructionsStepTwo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    max-width: 40rem;
}

.appInstructionsStepThree{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    max-width: 40rem;
}

.bottomSection{
    margin-top: 8rem;
    width: 100%;
    max-width: 40rem;
}

@media(max-width: 600px){
    .appInstructionsStepOne, .appInstructionsStepTwo, .appInstructionsStepThree{
        flex-direction: column-reverse;
    }
}