.currentDeckContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 8rem;
    width: 100%;
}

.topContainer, .changeLandsContainer, .deckInfoContainer {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.changeLandsContainer, .deckInfoContainer {
    flex-direction: column;
}

.currentDeckTitle {
    color: #F25F5C;
    font-size: 2rem;
    font-family: 'Roboto Slab', serif;
}


.cardsContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 8rem;
}

.clearDeckButton,.removeCommanderButton, .submitFormButton, .setCommanderButton {
    margin: 0.5rem;
    outline : none;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    border-radius: 10px;
    padding: 1rem;
    width: 100%;
    max-width: 8rem;
    text-align: center;
    border: 1px solid #50514F;
    background-color:  #F25F5C;
    color: white;
}

.formInput {
    margin: 0.5rem;
    font-size: 0.75rem;
    width: 100%;
    max-width: 12rem;
    padding: 0.5rem;
    border-radius: 16px;
    font-family: 'Raleway', sans-serif;
    border: 1px solid #50514F;
    outline: none;
}


.cardInfo {
    margin: 1rem;
}

@media(max-width: 600px){
    .topContainer {
        flex-direction: column;
    }
}