.currentDeckContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 8rem;
    width: 100%;
}

.currentDeckTitle {
    color: #F25F5C;
    font-size: 2rem;
    font-family: 'Roboto Slab', serif;
}


.cardsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
}

.clearDeckButton {
    margin: 0.5rem;
    outline : none;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    border-radius: 10px;
    padding: 1rem;
    width: 100%;
    max-width: 8rem;
    text-align: center;
    border: 1px solid #50514F;
    background-color:  #F25F5C;
    color: white;
}

.cardInfo {
    margin: 2rem;
}

.setCommanderButton {
    color: red;
}