.navBar {
    position: fixed;
    font-size: 1rem;
    top: 0;
    display: flex;
    padding: 1rem 0;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 100%;
    background-color: green;
}

.leftNav {
    width: 50%;
}

.leftNavLink {
    margin-left: 1.5rem;
}

.rightNav {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
}

.rightNavLinks {
    margin-right: 1.5rem;
}