.navBar {
    position: fixed;
    font-size: 1rem;
    top: 0;
    display: flex;
    padding: 1rem 0;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 100%;
    color: white;
    background-color: #0072BB;
}

.leftNav {
    width: 50%;
}

.leftNavLinks {
    margin-left: 1.5rem;
}

.leftNavLink {
    text-decoration: none;
    color: white;
}

.rightNav {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
}

.rightNavLinks {
    margin-right: 1.5rem;
}

.rightNavLink{
    text-decoration: none;
    color: white;
}

.rightNavLinkButton{
    color: white;
    background-color: #0072BB;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
}