.cardSearchContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 8rem;
    width: 100%;
}

.cardSearchTitle {
    color: #F25F5C;
    font-size: 2rem;
    font-family: 'Roboto Slab', serif;
}

.dropDown {
    font-family: 'Raleway', sans-serif;
}